IROHARNESS_CHARACTER_ID=iroha
IROHARNESS_CHARACTER_NAME=Iroha
YOUTUBE_API_KEY=
YOUTUBE_LIVE_CHAT_ID=
OBS_WEBSOCKET_URL=ws://127.0.0.1:4455
OBS_WEBSOCKET_PASSWORD=
OBS_OVERLAY_INPUT=IroHarness Overlay
IROHARNESS_OVERLAY_URL=http://127.0.0.1:4178/?view=overlay
OBS_SCENE_NAME=
