IROHARNESS_CHARACTER_ID=iroha
IROHARNESS_CHARACTER_NAME=Iroha
IROHARNESS_ADMIN_TOKEN=
CODEX_WORKSPACE=
CODEX_MODEL=gpt-5.4
IROHARNESS_RUN_CODEX=0
YOUTUBE_API_KEY=
YOUTUBE_LIVE_CHAT_ID=
DISCORD_BOT_TOKEN=
DISCORD_BOT_USER_ID=
DISCORD_MENTION_ONLY=1
IROHARNESS_ENABLE_OBS=0
OBS_WEBSOCKET_URL=ws://127.0.0.1:4455
OBS_WEBSOCKET_PASSWORD=
OBS_OVERLAY_INPUT=IroHarness Overlay
IROHARNESS_OVERLAY_URL=http://127.0.0.1:4178/?view=overlay
OBS_SCENE_NAME=
